@model IEnumerable<LogInfo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>LogInfo</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">LogId</th>
                <th scope="col">StartTime</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">TimeExcecute</th>
                <th scope="col">UserId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var logInfo in Model)
            {
                <tr>
                    <td>@logInfo.Id</td>
                    <td>@logInfo.StartTime</td>
                    <td>@logInfo.Description</td>
                    <td>@logInfo.Type</td>
                    <td>@logInfo.TimeExcecute</td>
                    <td>@logInfo.UserId</td>
                </tr>
            }
        </tbody>
    </table>
</div>
